*{
    margin: 0;
    padding: 0;
}

body {

    padding: 0px;
}



/*MENU DE NAEGACION*/
nav {
    background: #D5D6D4;
    border-radius: 5px;

}

.tramas{
    width: 1366px;
    height: 120px
}

.logo{
    position: relative;
    display: inline-block;
}
.titulo{
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
}

.nav-links a {
    color: #23863A;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sub-menu {
    display: none;
    list-style: none;
    padding: 1rem 0;
    position: absolute;
    transition: all .5s ease;
    background-color: #D5D6D4;
    
}
li{
    margin-left: 10px;
}
.sub-menu a {
    font-size: 14px;
    font-family:'Roboto', sans-serif; 
    margin-left: 3px;
    text-decoration: none;   
    color: #23863A

    
}
 .menu:hover{
transform: scale(1.1);
background:  #fff;
border-radius: 5px;
padding: 3px;
}

.menu:hover .sub-menu {
    letter-spacing: 3px;
    display: block;
    width: 150px;
    border-radius: 3px;
}

.sub-menu a:hover{
    background:  #fff;
    transition: all 300ms ease;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px;
   
}
/*ICONS*/
.icon_menu{
    font-size: 26px;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}


#check_menu{
    display: none; 
}

#label_check{
    width: 26px;
    height: 100%;
    display: none;

}
/*CARRUSEL DE IMAGENES */
.carousel {
   width: 100%;
   height: 100vh;
   overflow: hidden;
}
.carousel img {
    width: 1366px;
    height: 900px;
    object-fit: cover;
    animation: animacion 5s infinite;
    
}
.rigth,
.left{
    display: flex;
    position: absolute;
    top: 70%;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}

.rigth{
    background-color:  #fbfcfc ;
    right: 10px;
    border-radius: 50%;
    padding: 10px;
    border-color: #fbfcfc;
}

.left{
    background-color:  #fbfcfc ;
    left: 10px;
    border-radius: 50%;
    padding: 10px;
    border-color: #fbfcfc;
}


/*IMAGENES DE LA SECION DE CATALOGO, ALIADOS HE IN COMPANY */

.container{
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  

    
}
.img{
    margin-top: 40px;
    width: 300px;
    height: 250px;
    padding: 20px;
}

img{ 
    margin-right: 20px;
    width: 400px;
    height: 250px;
}


/*IMAGENES DE LA SECCION DE NOTICIAS*/
.container-notice{
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  
}

.img-notice{
    margin-top: 60px;
    width: 500px;
    height: 200px;
    padding: 20px;
}
.notice{
    position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
    width: 100px;
    margin-bottom: 30px;
    background-color: #0056e9;
}
iframe{
    margin-top: 0px;
}
.title{
    margin-top: 10px;
    margin-top: 10px;
}
/*TITULO DE NOTICIAS*/


h2{
    margin-bottom:30px; 
    font-family: 'Roboto', sans-serif;
    text-decoration: overline;
}
.img-notice  { 
    margin-top: 50px;
    width: 500px;
    height: 200px;
}

.img-notices{
    margin-top: 130px;
    width: 500px;
    height: 200px;
}

.img-noticee{
    margin-top: 130px;
    margin-left: 20px;
    width: 500px;
    height: 200px;
}
.links{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .links:hover {
    letter-spacing: 3px;
    background-color: #0056e9;
    color: hsl(0, 0%, 100%);
    box-shadow: #0056e9;
   }
   
   a:active {
    letter-spacing: 3px;
    background-color: hsl(202, 87%, 42%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(138, 202, 231) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   };


/*SECCION DE BUSQUEDA */
   .group {
    display: flex;
    line-height: 28px;
    align-items:end;
    position: relative;
    max-width: 190px;
    margin-top: 50px;
  
   }
/*PARRAFO*/
   .document{
    width: 900px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 150px;
    margin-left: 20px;
    float: left;
    
   }


   /*BARRA DE BUSQUEDA*/
  .input {
    width: 150px;
    height: 10px;
    margin-top: 140px;
    margin-left: 0px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    background-color: #0056e9;
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }

  /*BOTON DE BUSQUEDA*/
  .buscar {
    font-size: 17px;
    margin-left: 30px;
    padding: 10px;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }
/*PARRAFO DE BUSQUEDA*/
   .parrafo{
    margin-left: 915px;
    width: 300px;
    height: 100px;
    font-family:'Roboto', sans-serif; ;
   }
   

   /*REDES SOCUALES*/
   .social-red{
    display: flex;
    justify-content: space-evenly;
   }
   svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    
   }
/*SECCION DE ALIADOS*/

.aliados{
    padding: 10px;
    display: grid;
    grid-auto-rows: 17rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

.contraloria{
    margin-left: 100px;
}

.olacefs{
    margin-left: 50px;
    margin-right: 60px;
}
.sunai{
    margin-left: 20px;
}

.intosai{
    margin-left: 20px;
}

.idi{
    margin-left: 20px;
}
.img{
    width: 200px;
    height: 200px;
}

.derechos{
    margin-top: 200px;
    text-align: center;
    margin-left: 410px;
    width: 500px;
    background-color: #D5D6D4;
}
/*Esto hace que la pagina se adapte a un ancho de 768px*/

/*
@media (max-width: 1350px){
    .tramas{
        width: 240vh;
        height:12vh;
    }
    nav{
        width: 240vh;
    }
    .carousel{
        width: 240vh; 
    }
}*/
@media (max-width: 1328px){
    .tramas{
        width: 172vh;
        height:12vh;
    }
    nav{
        width: 172vh;
    }
    .carousel{
        width: 172vh; 
    }
    .input{
        margin-top: 40px;
        margin-left: 20px;
    }
    .parrafo{
        margin-left: 20px;
    }
    .img{
        width: 110px;
        height: 110px;
    }
    .derechos{
        margin-left: 50px;
        
    }
}


@media (max-width: 1024px) {
    .tramas{
        width: 165vh;
        height: 10vh;
    }
    nav{
        width: 165vh;
    }
    .carousel{
        width: 165vh; 
    }
}

@media (max-width : 960px) {
    .tramas{
        width:155vh;
        height:10vh;
    }
    nav{
        width: 155vh;
    }

    .carousel{
        width: 155vh;
    }
    img{
        width: 250px;
        height: 250px;
    }
    .img{
        width: 90px;
        height: 90px;
    }

    .aliados{
        padding: 10px;
        display: grid;
        grid-auto-rows: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    
    }

    .contraloria{
        margin-left: 10px;
    }

    .derechos{
        padding: 20px;
        margin-left: 100px;
       
    }
}
@media (max-width: 768px) {
    .logo{
        font-size: 13px;
    }

    .tramas{
        width: 124vh;
        height: 8vh;
    }

    .nav-links {
        flex-direction: column;
        padding: 15px;
        font-size: 14px;
        position:absolute;
        background: #D5D6D4;
        left: 0;
        top: 80px;
        border-radius: 5px;
        width: 100%;
        height: 0;
        transition: all 500ms ease;
        z-index: 100vh;
        opacity: 0;
        visibility: hidden;
    }

    .menu:hover{
        width: 150px;
        border-color: #fff;

    }
    .menu{
    margin-left: 0;
        padding: 5px;
    }

  
    .sub-menu{
        left: 100px;
        
     
    }

    #label_check{
        display: block;
    }

    .icon_menu{
        display: flex;
    }

    #check_menu:checked ~ nav > .nav-links{
        width: 310px;
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
    .carousel{
        width: 124vh;
    }
    img{
        width: 250px;
        height: 250px;
    }
    .img{
        width: 90px;
        height: 90px;
    }

    .input{
        margin-left: 40px;
        margin-top: 90px;
    }
    .social-red{
        margin-top: 80px;
        margin-right: 400px;
        margin-left: 400px;
    }
svg{
    margin-top: 130px;
    margin-right: 20px;
    
}
    .aliados{
        padding: 10px;
        display: grid;
        grid-auto-rows: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    
    }

    .contraloria{
        margin-left: 10px;
    }
.document{
    font-size: 13px;
    width: 500px;
}

.derechos{
    padding: 20px;
    margin-left: 100px;
   
}

@media (max-width: 480px) {
    .tramas{
        width: 88vh;
        height: 9vh;
    }
    .carousel{
        width:88vh;
    }

    .social-red{
        margin-left: 240px;
    }
    .aliados{
        padding: 10px;
        display: grid;
        grid-auto-rows: 10rem;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
    .derechos{
     margin-bottom: 30px;
    }
    }



@media (max-width:320px) {
    .tramas{
        width: 24vh;
        height: 4vh;
    }
   
}
}